.ajustar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eskeler{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
}
p {
    text-align: center;
}