.ajustar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eskeler{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes myanimation{
    0% {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 35%;
    }
    100% {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;margin-top: 0%;
    }
}

.bienvenida{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0%;
}
        
.responsive {
    width: 78%;
    height: auto;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: center;
}