.ajustar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.eskeler{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15%;
}

.bienvenida{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0%;
}

.ajustar:hover .eskeler{
    transform: translateY(100%);
}

p {
    text-align: center;
}